<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koishi.launcher.h2o2">
    
    <uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission 
		android:name="android.permission.INTERNET" />
    <uses-permission 
		android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_h2o2_lowpx"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:resizeableActivity="false">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
		
		<activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
				<action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".func.ExecuteActivity"
            android:parentActivityName=".func.ExecuteActivity"
            android:label="@string/menu_2">
        </activity>
        <activity
            android:name=".func.CustomActivity"
            android:parentActivityName=".func.CustomActivity"
            android:label="@string/menu_3">
        </activity>
        <activity
            android:name=".func.KeysActivity"
            android:parentActivityName=".func.KeysActivity"
            android:label="@string/menu_4">
        </activity>
        <activity
            android:name=".func.PacksActivity"
            android:parentActivityName=".func.PacksActivity"
            android:label="@string/menu_5">
        </activity>
        <activity
            android:name=".func.WorldsActivity"
            android:parentActivityName=".func.WorldsActivity"
            android:label="@string/menu_6">
        </activity>
        <activity
            android:name=".func.TexturesActivity"
            android:parentActivityName=".func.TexturesActivity"
            android:label="@string/menu_7">
        </activity>
        <activity
            android:name=".func.ModsActivity"
            android:parentActivityName=".func.ModsActivity"
            android:label="@string/menu_8">
        </activity>
        <activity
            android:name=".func.DonateActivity"
            android:parentActivityName=".func.DonateActivity"
            android:label="@string/menu_9">
        </activity>
        <activity
            android:name=".func.AboutActivity"
            android:parentActivityName=".func.AboutActivity"
            android:label="@string/menu_10">
		</activity>
		<activity
            android:name=".func.DownloadActivity"
            android:parentActivityName=".func.DownloadActivity"
            android:label="@string/dn">
		</activity>
		<activity
            android:name=".func.LoginActivity"
            android:theme="@style/DefaultTheme"
            android:label="@string/app_name">
		</activity>
        
      <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>

    </application>
	
</manifest>
